
<section class="conetnedor-principal" >
    <div class="conatiner-principal" >
        <div class="contenedor1">
            <div class="cuador_adentro">
                <app-menu-coordinador> </app-menu-coordinador> 
            </div>
        </div>
        <div class="contenedor2">
            <div class="contenedor-principal1">
                <div class="Conetendor-Dentro">
                    <div class="contenedor-header">
                        <p class="nombreNat" data-aos="fade-left" >Registro Fichas</p>
                    </div>
                    <div class="contenedor-contenido">
                        <form (ngSubmit)="onSubmit()" data-aos="fade-left">
                            <div class="contendorformulario">
                                <div>
                                    <div class="texto-entradas">
                                        <p>Numero De ficha:</p>
                                    </div>
                                    <div class="texto-entradas">
                                        <p>Nombre De ficha:</p>
                                    </div>
                                    <br>
                                    <div class="texto-entradas">
                                        <p>Fecha Inicio:</p>
                                    </div>
                                    <div class="texto-entradas">
                                        <p>Fecha fin:</p>
                                    </div>
                                </div>
                        
                                <div>
        
                                    <div>
                                        <div class="contenedor-input">
                                            <input type="text" class="leabe-nombre" id="numeroFicha" name="numeroFicha" [(ngModel)]="ficha.numeroFicha" required>
                                        </div>
                                        <br>
                                        <div class="contenedor-input">
                                            <input type="email" class="leabe-nombre" id="nombreFicha" name="nombreFicha" [(ngModel)]="ficha.nombreFicha" required>
                                        </div>
                                        <br>
                                        <div class="contenedor-input">
                                            <input type="date"  class="leabe-nombre" id="fechaIncio" name="fechaIncio"  [(ngModel)]="ficha.fechaIncio" required>
                                        </div>
                                        <br>
                                        <div class="contenedor-input">
                                            <input type="date" class="leabe-nombre" id="fechaFinal" name="fechaFinal" [(ngModel)]="ficha.fechaFinal" required>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            <div></div>
                            <button type="submit" class="btn-enviar">Enviar</button>
                        </form>
                                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>